* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

.card {
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.navbar {
  background-color: blueviolet;
  padding: 20px;
  margin: 5px;
}
